@import 'vars';
@import 'global';

.header {
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 693px;
    padding: 40px 0px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 127px;
}

.header__nav {
    li {
        display: inline-block;
    }

    a {
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
    }

    li+li {
        margin-left: 34px;
    }

    a:hover {
        color: $yellow;
        transition: all .3s;
    }
}

.header__menu-btn {
    width: 30px;
    display: none;
}

.header__menu-row {
    width: 100%;
    height: 4px;
    background-color: #fff;
    margin-bottom: 4px;
}

.header__title {
    width: 100%;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 41px;
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 33px;
}

.header__text {
    color: #ffffff;
    font-size: 19px;
    margin-bottom: 35px;
    font-weight: 100;
    max-width: 417px;
}

.header__btn {
    margin-left: 4px;
}

.header__btn,
.welcome__item-btn,
.project__item-btn,
.pricing__item-btn,
.blog__item-btn {
    text-align: center;
    background-color: $yellow;
    display: inline-block;
    width: 125px;
    border-radius: 3px;

    a {
        color: #323232;
        font-size: 10px;
        line-height: 15px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 16px 0;
        width: 100%;
    }
}

.header__btn:hover,
.welcome__item-btn:hover,
.pricing__item-btn:hover,
.blog__item-btn:hover {
    background-color: $purple;

    a {
        color: #fff;
    }
}

.slick-list {
    position: relative;
}

.slick-dots {
    position: absolute;
    bottom: -204px;
    display: inline-block;
    list-style: none;
    text-align: center;

    li {
        display: inline-block;
        width: 8px;
        height: 8px;
        cursor: pointer;
        background-color: rgba(#fff, .5);
        border-radius: 50%;

        button {
            font-size: 0;
            border: none;
            outline: none;
            background-color: transparent;
        }
    }

    li+li {
        margin-left: 7px;
    }

    .slick-active {
        background-color: #fff;
    }
}

.welcome {
    padding-top: 85px;
    padding-bottom: 56px;
    background-color: $bg;
}

.welcome__inner {
    padding-bottom: 38px;
    border-bottom: 2px solid rgba(#000, .5);
}

.welcome__title {
    text-align: center;
    color: $text;
    font-family: Montserrat;
    font-size: 44px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 74px;
}

.welcome__text {
    max-width: 693px;
    padding-right: 256px;
    position: relative;
    color: #040405;
    font-size: 29px;
    font-weight: 100;
    line-height: 44px;
    margin-bottom: 75px;

    img {
        position: absolute;
        right: 0;
        top: -19px;
        width: 188px;
        height: 195px;
    }
}

.welcome__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.welcome__item {
    max-width: 156px;
    text-align: center;
}

.welcome__item+.welcome__item {
    margin-left: 111px;
}

.welcome__item-icon {
    margin: 0 auto 33px;
    width: 81px;
    height: 81px;
    background-color: $purple;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome__item-title {
    color: $purple;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.welcome__item-text {
    color: rgba($purple, .5);
    font-size: 13px;
    font-weight: 400;
    line-height: 23.58px;
    margin-bottom: 34px;
}

.project {
    background: $bg;
    padding-top: 20px;
    padding-bottom: 86px;
}

.project__title {
    text-align: center;
    margin-bottom: 47px;
    color: $text;
    font-family: 'Montserrat';
    font-size: 44px;
    font-weight: 700;
}

.project__items {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1400px;

    img {
        width: 100%;
        min-height: 510px;
        display: block;
    }
}

.project__item-wrapper {
    padding: 46px 35px 47px 44px;
    background-color: #efefef;
}

.project__item:hover {
    transition: all .3s;

    .project__item-wrapper {
        background-color: $yellow;
    }

    .project__item-btn {
        background-color: $purple;
        width: 162px;

        a {
            padding: 16px 24px;
            color: #fff;
        }
    }
}

.project__item-title {
    color: $text;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.project__item-text {
    color: rgba($text, .5);
    font-family: Helvetica;
    font-size: 13px;
    font-weight: 400;
    line-height: 23.58px;
    margin-bottom: 15px;
}

.project__item-btn {
    background-color: #fff;
    width: 162px;

    a {
        padding: 16px 24px;
    }
}

.project__active {
    background-color: $yellow;

    .project__item-btn {
        background-color: $purple;
        width: 162px;

        a {
            padding: 16px 24px;
            color: #fff;
        }
    }
}

.pricing {
    background-color: $bg;
    padding-bottom: 87px;
}

.pricing__title {
    text-align: center;
    color: $text;
    font-family: Montserrat;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 48px;
}

.pricing__items {
    display: flex;
    justify-content: space-between;
}

.pricing__item {
    max-width: 242px;

    ul {
        margin-bottom: 24px;
    }

    li {
        text-align: center;
        color: $text;
        font-family: 'Helvetica';
        font-size: 10px;
        font-weight: 400;
    }
}

.pricing__item-title {
    width: 140px;
    color: $text;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.pricing__item-cost {
    text-align: center;
    color: rgba($text, .61);
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 21px;
}

.pricing__border {
    border-right: 2px solid rgba(#000, .3);
    border-left: 2px solid rgba(#000, .3);
    padding-right: 58px;
    padding-left: 58px;
}

.video {
    background-color: $purple;
    padding-top: 87px;
    padding-bottom: 116px;
}

.video__title {
    text-align: center;
    color: #fefefe;
    font-family: 'Montserrat';
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 41px;
}

.video__item-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 690px;
    min-height: 461px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-bg1 {
    background-image: url(../images/video1.jpg);
}

.video-bg2 {
    background-image: url(../images/video2.jpg);
}

.video-bg3 {
    background-image: url(../images/video3.jpg);
}

.video__item-text {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    color: #fefefe;
    font-family: 'Montserrat';
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 23px;
}

.team {
    background-color: $bg;
    padding-top: 71px;
    padding-bottom: 75px;
}

.team__title {
    text-align: center;
    margin-bottom: 44px;
    color: $text;
    font-family: 'Montserrat';
    font-size: 44px;
    font-weight: 700;
}

.team__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team__item:nth-child(2),
.team__item:nth-child(5) {
    margin-right: 80px;
    margin-left: 80px;
}

.team__item {
    position: relative;
    margin-bottom: 64px;

    >img {
        width: 173px;
        height: 173px;
    }
}

.team__active,
.team__item:hover {
    .team__share {
        display: block;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.team__share {
    position: absolute;
    top: 0;
    width: 173px;
    height: 173px;
    background-color: rgba($purple, .9);
    border-radius: 50%;

    img {
        width: 38px;
        height: 30px;
    }

    display: none;
}

.team__inner-name {
    margin-top: 30px;
    text-align: center;
    color: $text;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.team__inner-prof {
    text-align: center;
    margin-top: 15px;
    opacity: 0.39;
    color: $text;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 400;
}

.life {
    background-color: #efefef;
    padding-top: 80px;
    padding-bottom: 109px;
}

.life__slider {
    position: relative;
}


.slick-next {
    background-color: #62497c;
}

.slick-prev {
    background-color: #2a2a2a;
}

.slick-arrow {
    width: 31px;
    height: 69px;
    border: none;
    position: absolute;
    color: #fff;
    font-family: 'Tahoma';
    font-size: 20px;
    z-index: 1000;
}

.slick-next {
    bottom: -74px;
    right: 0;
}

.slick-prev {
    bottom: -74px;
    left: 0;
}

.slick-next::before {
    content: ('\203a');
}

.slick-prev::before {
    content: ('\2039');
}

.life__title {
    text-align: center;
    color: $text;
    font-family: 'Montserrat';
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 39px;
}

.sign {
    background-image: url(../images/sign-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 56px;
    padding-bottom: 68px;
    min-height: 328px;
    text-align: center;
}

.sign__title {
    margin-bottom: 29px;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 44px;
    font-weight: 700;
    line-height: 53px;
}

.sign__form {
    form {
        max-width: 600px;
        width: 100%;
        position: relative;
    }
    
    input {
        max-width: 550px;
        width: 100%;
        background-color: $bg;
        padding: 17px 147px 19px 15px;
        outline: none;
        border: none;
    }

    input::placeholder {
        color: #d8d8d8;
        font-family: 'Montserrat';
        font-size: 19px;
        font-weight: 400;
    }
    button {
        position: absolute;
        right: 0px;
    }
    .sign__btn {
        top: 100px;
        background-color: $purple;
        color: #fff;
    }
    button {
        text-align: center;
        display: inline-block;
        background-color: $yellow;
        width: 125px;
        border-radius: 3px;
        color: #323232;
        font-size: 10px;
        line-height: 15px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 21px 0 21px;
        font-family:'Montserrat';
        border: none;
    }
    button:hover {
        background-color: $purple;
        color: #fff;
    }
}

.blog {
    background-color: $bg;
    padding-top: 72px;
    padding-bottom: 88px;
}
.blog__title {
    text-align: center;
    margin-bottom: 53px;
    color: $text;
    font-family: 'Montserrat';
    font-size: 44px;
    font-weight: 700;
}
.blog__inner {
    display: flex;
    justify-content: space-between;
}
.blog__item {
    text-align: center;
    img {
        margin-bottom: 35px;
    }
}
.blog__item + .blog__item {
    margin-left: 34px;
}
.blog__item-title {
    color: $text;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.blog__item-date {
    margin-bottom: 25px;
    opacity: 0.5;
    color: $text;
    font-family: Helvetica;
    font-size: 13px;
    font-weight: 400;
}
.blog__item-text {
    margin-bottom: 30px;
    color: $text;
    font-family: Helvetica;
    font-size: 13px;
    font-weight: 400;
    line-height: 23.58px;
}
.contact {
    background-color: $yellow;
    min-height: 654px; 
}

.contact__inner {
    img {
        width: 50%;
       min-height: 654px;
    }
}

.contact__form {
    display: inline-block;
    max-width: 346px;
    width: 100%;
    text-align: left;
    vertical-align: top;
    padding-top: 51px;
    padding-left: 43px;
    form {
        label {
            color: #323232;
            font-family: 'Montserrat';
            font-size: 10px;
            font-weight: 700;
            text-transform: uppercase;
        }
        input {
            padding: 0px 15px;
            display: block;
            margin-top: 12px;
            margin-bottom: 21px;
            min-height: 44px;
            box-shadow: 1px 1px 1px rgba(22, 22, 23, 0.09);
            background-color: #fefefe;
             max-width: 311px;
             width: 100%;
        }
        .input-message {
            min-height: 145px;
        }
        button {
            text-align: center;
            display: inline-block;
            background-color: $purple;
            color: #fff;
            max-width: 311px;
            border-radius: 3px;
            font-size: 10px;
            line-height: 15px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 22px 0 23px;
            font-family: 'Montserrat';
            border: none;
            width: 100%;
        }
    }
}
   
.contact__form-title {
    margin-bottom: 34px;
    color: $text;
    font-family: 'Montserrat';
    font-size: 44px;
    font-weight: 700;
}
.footer {
    background-color: $bg;
    padding: 78px 0px;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
}
.footer__address {
    max-width: 140px;
    color: $text;
    font-family: 'Helvetica';
    font-size: 13px;
    font-weight: 400;
    line-height: 23.58px;
    text-align: center;
}
.footer__address-title,
.footer__follow-title,
.footer__contact-title {
    color: $text;
    font-family: 'Montserrat';
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.footer__follow {
    max-width: 106px;
    text-align: center;
}
.footer__follow-link {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    img {
        margin-left: 7px;
        margin-right: 7px;
    }
}

.footer__contact {
    max-width: 116px;
    text-align: center;
    a {
        color: $text;
        font-family: 'Helvetica';
        font-size: 13px;
        font-weight: 400;
        line-height: 23.58px;
    }
}