@import 'vars';
@import 'global';

.header {
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 693px;
    padding: 40px 0px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 127px;
}

.header__nav {
    li {
        display: inline-block;
    }

    a {
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
    }

    li+li {
        margin-left: 34px;
    }

    a:hover {
        color: $yellow;
        transition: all .3s;
    }
}

.header__title {
    width: 100%;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 41px;
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 33px;
}

.header__text {
    color: #ffffff;
    font-size: 19px;
    margin-bottom: 35px;
    font-weight: 100;
    max-width: 417px;
}

.header__btn,
.welcome__item-btn,
.project__item-btn {
    text-align: center;
    background-color: $yellow;
    display: inline-block;
    width: 125px;
    border-radius: 3px;

    a {
        color: #323232;
        font-size: 10px;
        line-height: 15px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 16px 0;
        width: 100%;
    }
}

.header__btn:hover,
.welcome__item-btn:hover {
    background-color: $purple;
    margin-left: 4px;

    a {
        color: #fff;
    }
}

.slick-list {
    position: relative;
}

.slick-dots {
    position: absolute;
    bottom: -204px;
    display: inline-block;
    list-style: none;
    text-align: center;

    li {
        display: inline-block;
        width: 8px;
        height: 8px;
        cursor: pointer;
        background-color: rgba(#fff, .5);
        border-radius: 50%;

        button {
            font-size: 0;
            border: none;
            outline: none;
            background-color: transparent;
        }
    }

    li+li {
        margin-left: 7px;
    }

    .slick-active {
        background-color: #fff;
    }
}

.welcome {
    padding-top: 85px;
    padding-bottom: 56px;
    background-color: $bg;
}

.welcome__inner {
    padding-bottom: 38px;
    border-bottom: 2px solid rgba(#000, .5);
}

.welcome__title {
    text-align: center;
    color: $text;
    font-family: Montserrat;
    font-size: 44px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 74px;
}

.welcome__text {
    max-width: 693px;
    padding-right: 256px;
    position: relative;
    color: #040405;
    font-size: 29px;
    font-weight: 100;
    line-height: 44px;
    margin-bottom: 75px;

    img {
        position: absolute;
        right: 0;
        top: -19px;
        max-width: 188px;
        min-height: 195px;
    }
}

.welcome__items {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.welcome__item+.welcome__item {
    margin-left: 111px;
}

.welcome__item-icon {
    margin: 0 auto 33px;
    width: 81px;
    height: 81px;
    background-color: $purple;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome__item-title {
    color: $purple;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.welcome__item-text {
    color: rgba($purple, .5);
    font-size: 13px;
    font-weight: 400;
    line-height: 23.58px;
    margin-bottom: 34px;
}

.project {
    background: $bg;
    padding-top: 20px;
    padding-bottom: 86px;
}

.project__title {
    text-align: center;
    margin-bottom: 47px;
    color: $text;
    font-family: 'Montserrat';
    font-size: 44px;
    font-weight: 700;
}

.project__items {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1400px;

    img {
        width: 100%;
        min-height: 510px;
        display: block;
    }
}

.project__item-wrapper {
    padding: 46px 35px 47px 44px;
    background-color: #efefef;
}

.project__item:hover {
    transition: all .3s;
    .project__item-wrapper {
        background-color: $yellow;
    }

    .project__item-btn {
        background-color: $purple;
        width: 162px;

        a {
            padding: 16px 24px;
            color: #fff;
        }
    }
}

.project__item-title {
    color: $text;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.project__item-text {
    color: rgba($text, .5);
    font-family: Helvetica;
    font-size: 13px;
    font-weight: 400;
    line-height: 23.58px;
    margin-bottom: 15px;
}

.project__item-btn {
    background-color: #fff;
    width: 162px;

    a {
        padding: 16px 24px;
    }
}

.project__active {
    background-color: $yellow;

    .project__item-btn {
        background-color: $purple;
        width: 162px;

        a {
            padding: 16px 24px;
            color: #fff;
        }
    }
}